body {
    background-color: #f9f9f9;
    display: grid;
    justify-content: center;
    /* vertical-align: middle; */
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.buffer {
    height: 1vh
}

@media only screen and (max-width: 400px) {
    .buffer {
        height: 15vh
    }
}

h1 {
    font-size: 1.5rem;
    margin: 0.925%;
    font-family: 'Press Start 2P', cursive;
    color: #A4A4A4;
    text-align: center;
}

h3 {
    font-size: 0.75rem;
    font-family: 'Press Start 2P', cursive;
    color: #A4A4A4;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    color: #A4A4A4;
    /* viewport height */
}

#player {
    margin-right: auto;
}

#bot {
    margin-left: auto;
}

button {
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    color: #A4A4A4;
    outline: none;
    border: 0px;
    padding: 1%;
}

button:hover {
    border: 0px;
    background-color: #1464F4;
    color: white;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2%;
    width: 40%;
    height: 40%;
}

.box {
    width: 12vmax;
    height: 12vmax;
    transition-property: all;
    transition-property: transform;
    border: 5px solid #A4A4A4;
}

.selected {
    background-image: url("../x.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    width: 12vmax;
    height: 12vmax;
    margin: auto;
    transition-property: all;
    transition-property: transform;
    /* border: 3px solid red;
    background-color: yellow; */
}

.selected-ai {
    background-image: url("../o.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    width: 12vmax;
    height: 12vmax;
    margin: auto;
    transition-property: all;
    transition-property: transform;
    /* border: 3px solid red;
    color: white;
    background-color: green; */
}

.winning {
    background-image: url("../star.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    width: 12vmax;
    height: 12vmax;
    margin: auto;
    transition-property: all;
    transition-property: transform;
    border: 5px solid gold;
    color: white;
    background-color: white;
}

.losing {
    background-image: url("../crying.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    width: 12vmax;
    height: 12vmax;
    margin: auto;
    transition-property: all;
    transition-property: transform;
    border: 5px solid red;
    color: white;
    background-color: red;
}

.resetting {
    width: 12vmax;
    height: 12vmax;
    margin: auto;
    transition-property: all;
    transition-property: transform;
    border: 5px solid #666666;
    color: white;
    background-color: #A4A4A4;
}

.box:hover {
    /* filter: brightness(70%) hue-rotate(330deg); */
    border: 5px solid #fe575f;
    transition-duration: 3s;
}

.box:active {
    /* filter: brightness(70%) hue-rotate(330deg); */
    border: 5px solid pink;
    transition-duration: 3s;
}


/* .zone1 {
    background-image: url("../assets/andre-mouton-GBEHjsPQbEQ-unsplash.jpg");
} */