body {
    display: grid;
    justify-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    align-self: center;
    margin-top: 2.5%;
    background-color: rgb(75 120 65);
    width: 80%;
}

.push {
    margin-left: auto;
}

br {
    height: 10%;
}

#player-score,
#player-level,
#penalty {
    background-color: rgb(236, 236, 236);
}

.player {
    display: flex;
    margin-top: 1%;
    font-size: 1.5rem;
    width: 80%;
    color: darkslategray;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2.5px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding: 1%;
    line-height: 2.5rem;
    text-transform: uppercase;
}

.memory-blocks {
    display: grid;
    background-image: url("../img/grass.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-color: transparent;
    /* border: 2px solid yellow; */
    width: 9vmax;
    height: 9vmax;
}

.memory-blocks:hover {
    background-image: url("../img/diamond.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-color: transparent;
}

.pattern {
    background-image: url("../img/diamond-ore.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.wrong {
    background-image: url("../img/creeper-head.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    /* background-color: black;
    border: 2px solid black; */
}

.correct {
    background-image: url("../img/diamond.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.grid-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
}

button {
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    color: rgb(230 219 219);
    background-color: rgb(113 113 113);
    outline: none;
    border: 0px;
    padding: 2%;
    width: 100%;
}

button:hover {
    border: 0px;
    background-color: rgb(101 191 180);
    color: white;
}

footer {
    text-align: left;
    width: 80%;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75rem;
    color: lightgray;
}

.losing-score {
    color: red;
}


/* PHONE */

@media only screen and (max-width: 400px) {
    .container {
        display: grid;
        align-self: center;
        margin-top: 2.5%;
        background-color: rgb(75 120 65);
        width: 90%;
    }
    .player {
        display: flex;
        margin-top: 1%;
        font-size: 1.25rem;
        width: 90%;
        color: darkslategray;
        font-family: 'Press Start 2P', cursive;
    }
    h1 {
        font-size: 2rem;
        text-align: center;
        letter-spacing: 2.5px;
        color: white;
        font-family: 'Press Start 2P', cursive;
        line-height: 3rem;
        text-transform: uppercase;
    }
    .memory-blocks {
        display: grid;
        background-image: url("../img/grass.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100% 100%;
        background-color: transparent;
        /* border: 2px solid yellow; */
        width: 7.5vmax;
        height: 7.5vmax;
    }
    footer {
        text-align: left;
        width: 90%;
        font-family: 'Press Start 2P', cursive;
        font-size: 0.5rem;
        color: lightgray;
    }
}