/* @font-face {
  font-family: 'Secular One', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: "https://fonts.googleapis.com/css2?family=Secular+One&display=swap";
} */

@font-face {
  font-family: 'SEGA LOGO FONT';
  /* font-style: normal;
  font-weight: normal; */
  src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
}

h1{
  font-family: 'SEGA LOGO FONT';
  color: white;
  font-weight: 200;
  color: #0ccac4;
  font-size: 2rem;
}